body{
	margin: 0px;
	padding:0px;
	font-family: "Nunito",sans-serif;
}
nav{
	padding: 10px;
	margin-left: 20px;
}
h2{
	padding-left: 50px;
	font-size: 25pxpx ;
}
h2,ul,button{
	display: inline-block;
}
ul{
	margin-left: 70%;
}
h1{
	font-size: 80px;
	margin-top: 70px;
}
.contact{
	font-size: 15px;
	height: 45px;
	width: 120px;
	color: white;
	background: black;
	margin-left: 10px;
	border-radius: 25px;
	border: black 1px solid;
}
.center{
	text-align: left;
	padding-left: 150px;
	padding-bottom: 300px;
}
.line{
	width: 150px;
	height: 2px;
	background: rgb(23, 125, 165);
	margin-bottom: 30px;
	margin-left: 6% ;
	border-radius: 15px;
}
.readmore{
	font-size: 15px;
	height: 55px;
	width: 120px;
	color: white;
	background: black;
	margin-left: 10px;
	border-radius: 15px;
	border: black 1px solid;
}
section{
	background: rgb(40, 40, 40);
	color: white;
	text-align: center;
	margin-top: 40px;
}
th{
	font-size: 30px;
	padding-top: 100px;
	color: rgb(23, 125, 165);
	padding-left: 20px;
}
tr{
	text-align: center;
	padding-left: 20px;
}
hr{
	margin-top: 40px;
	color: green;
	width: 50%;
}
.three,li{
	display: inline-block;
	padding-left: 10px;
}
.image{
  	position: absolute;
  	top: 15%;
  	left: 40%;
  	opacity: 10;
  	padding-bottom: 100px;
}